<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= item.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= item.value %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= item.order_id %>
  </p>

</div>
